
.bar {
	position: relative;
	width: 100%;
}

	.bar div {
		display: inline-block;
	}

.stageContainer {
	width: 150px;
	height: 100px;
	text-align: center;
	text-size-adjust: auto;
	padding-top: 100px;
	display: inline-block !important;
}

.stage {
	width: 150px;
	height: 100px;
	text-align: center;
	background-color: greenyellow;
	text-size-adjust: auto;
}

.stageEndLine {
	width: 5px;
	height: 150px;
	position: relative;
	left: 77px;
	top: -150px;
	background-color: blue;
}

.stageName {
	margin-top: -150px;
}

.CompletedDate {
	position: fixed;
	padding: 2px 5px 2px 5px;
	background-color: blue;
	color: white;
}

.EnteredDate {
	margin-left: 10px;
	font-weight: 600;
	color: black;
}

.disabled {
	opacity: 0;
}

.pastDueStage {
	display: inline-block !important;
}

.pastDueStage.stage {
	background-color: red;
}

.stageInProgress {
	background-color: aquamarine;
}
